<h1>Contacts</h1>

<ul class="contacts">
    <li>
        <a routerLink="/newcontact" class="button-link add-contact">Add a contact</a>
    </li>
    <li *ngFor="let contact of contacts">
        <div class="card" [class.expanded]="contact === selectedContact">
            <h3>{{contact.firstname}} {{contact.lastname}}</h3>
            <span class="phone">{{contact.phone}}</span>

            <div aria-labelledby="{{contact.id}}" [attr.aria-hidden]="contact !== selectedContact" class="expand-box" [attr.id]="'expandBox' + contact.id">
                <a [href]="'mailto:' + contact.email" [class.expanded-delay]="contact === selectedContactDelay">{{contact.email}}</a>
            </div>
            <div class="actions">

                <button type="button" class="expand-button" 
                    [attr.aria-controls]="'expandBox' + contact.id" 
                    [attr.aria-expanded]="contact === selectedContact"  
                    (click)="onSelect(contact)">
                    <span>Expand</span>
                    <span>Contract</span>
                </button>
                <a [routerLink]="['/edit',contact.id]" class="button-link">edit</a>
                <button type="button" (click)="deleteContact(contact)">delete</button>
            </div>
        </div>
    </li>
</ul>
