ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(392px, 400px));
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
}

li {
    padding: 0 30px;
    justify-self: center;
    height: 192px;
}

.contacts li:first-child {
    grid-column: 1 / -1;
    justify-self: end;
    margin-right: calc(1rem + 2px);
    padding-top: 20px;
    height: 70px;
}

.add-contact {
    background-color: #8E24AA;
    color: #fff;
    padding: 12px 15px;
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.add-contact:hover,
.add-contact:focus {
    background-color: #9b27b0;
    box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 3px 3px -2px rgba(0, 0, 0, 0.12); 
}

.add-contact:focus {
    outline: 1px solid #f10085;
    outline-offset: 3px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 300px;
    position: relative;
    box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    color: #000;
    background-color: #fff;
    margin: 20px 0 46px;
}

.card h3 + span {
    display: block;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    line-height: 20px;
}

.phone {
    margin-bottom: 20px;
    padding: 0 16px;
}

h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding: 16px 0 0;
    margin: 0 16px;
}

.actions {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding: 0 6px;
    // font-size: 13.333px;
}

.actions .button-link {
    padding-top: 9px;
}

.expand-box {
    padding: 0 16px;
    height: 0;
    overflow: hidden;
    transition: height .5s ease-in;
}

.expanded .expand-box {
    height: 36px;
}

.expand-button span:nth-child(2),
.expanded .expand-button span:first-child {
    display: none;
}

.expanded .expand-button span:nth-child(2) {
    display: block;
}

.expand-box a {
    font-size: 14px;
    line-height: 24px;
    color: rgba(0,0,0,.65);
    display: none;
}

.expanded .expand-box a,
.expand-box .expanded-delay {
    display: inline;
}

.expand-box a:focus {
    color: #f10085;
    outline: 1px solid #f10085;
    outline-offset: 2px;
}

@media screen and (max-width: 855px) {
    .contacts li:first-child {
        justify-self: center;
        margin-right: 0;
        height: 40px;
    }
}