<h1>Contacts</h1>

<a routerLink="/newcontact" >Add a contact</a>

    <ul class="list">
        <li *ngFor="let contact of contacts">
            <div class="card">
                <h3>{{contact.firstname}} {{contact.lastname}}</h3>
                <button>edit</button>
                <button type="button">delete</button>
                <span>{{contact.phone}}</span>
                <details>
                    <summary>more</summary>
                    <span>{{contact.email}}</span>
                </details>
            </div>
        </li>
    </ul>

