<h1>Contacts</h1>

<a routerLink="/newcontact" class="button-link">Add a contact</a>

    <ul class="list">
        <li *ngFor="let contact of contacts">
 
            <div class="card">
                <h3>{{contact.firstname}} {{contact.lastname}}</h3>
                <span class="phone">{{contact.phone}}</span>

                <div aria-expanded="false" aria-labelledby="{{contact.id}}" class="expand-box">
                    <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                </div>
                <div class="actions">
                    <button type="button" aria-controls="show-email-id" [data-target]="contact.id" (click)="expandCard(contact)">Expand</button>
                    <button (click)="editContact">edit</button>
                    <button type="button" (click)="alert('delete')">delete</button>
                </div>
                
            </div>

        </li>
    </ul>

