
<div class="container">

    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <!-- <form> -->
        <h1>Add a New Contact</h1>

        <div class="form-group">
            <label for="firstname">First Name</label>
            <input id="firstname" name="firstname" [(ngModel)]="hero.firstname" #firstname="ngModel" type="text" required>
  
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert" role="alert">
                First name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input id="lastname" type="text" class="form-control" name="lastname" #lastname="ngModel" [(ngModel)]="hero.lastname" required>

            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert" role="alert">
                Last name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" [(ngModel)]="hero.email" #email="ngModel" type="text" required>
  
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert" role="alert">
                First name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="hero.phone" required>

            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert" role="alert">
                Last name is required.
            </div>
          </div>
        <div>
            <button type="submit" (click)="addHero()" [disabled]="heroForm.invalid">Save</button>
        </div>
    </form>
 
    <app-messages></app-messages>
</div>