
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    >
    <div class="card">
        <h3>{{hero.firstname}} {{hero.lastname}}</h3>
        <span class="phone">{{hero.phone}}</span>
    
        <div [aria-expanded]="hero === selectedHero" aria-labelledby="{{hero.id}}" class="expand-box" [class.expanded]="hero === selectedHero">
             <a [href]="'mailto:' + hero.email">{{hero.email}}</a> 
        </div>
        <div class="actions" [data-target]="hero.id">


            <button 
                type="button" aria-controls="show-email-id"
                class="expand-button"
                [class.expanded]="hero === selectedHero"
             [data-target]="hero.id"  
             (click)="onSelect(hero)">
             <span>Expand</span>
            <span>Contract</span>
            </button>

             <!-- <button  type="button" aria-controls="show-email-id"
             [data-target]="hero.id"  
             (click)="hideExtra(hero)">Hide</button> -->

            <button (click)="deleteHero(hero)">edit</button>
            <button type="button" (click)="deleteHero(hero)">delete</button>
        </div>
      
    </div>

  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
