
<h1>Heroes</h1>
<div>
    <a routerLink="/newcontact" class="button-link add-contact">Add a contact</a>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <div class="card" [aria-expanded]="hero === selectedHero" [class.expanded]="hero === selectedHero">
        <h3>{{hero.firstname}} {{hero.lastname}}</h3>
        <span class="phone">{{hero.phone}}</span>
    
        <div aria-labelledby="{{hero.id}}" class="expand-box">
             <a [href]="'mailto:' + hero.email">{{hero.email}}</a> 
        </div>
        <div class="actions" [data-target]="hero.id">

            <button 
                type="button" aria-controls="show-email-id"
                class="expand-button"
             [data-target]="hero.id"  
             (click)="onSelect(hero)">
             <span>Expand</span>
            <span>Contract</span>
            </button>
            <a [routerLink]="['/edit',hero.id]" class="button-link">edit</a>
            <button type="button" (click)="deleteHero(hero)">delete</button>
        </div>
      
    </div>

  </li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
  <li class="spacer"></li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<app-messages></app-messages>
